body {
    margin: 0px;
}
.navbar {
    background: darkgreen;
}
.navbar div {
    display: none;
}
.navbar .toggle,
.navbar .brand {
    display: inline-block;
}
.navbar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: underline;
    background: #224c23;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar .link:hover,
.navbar .link:active {
    color: #2f4f4f;
    background: white;
}
.navbar .brand {
    width: 15em;
    text-align: center;
    padding: 1em;
    color: white;
}
.navbar a {
    text-decoration: none;
}

.navbar a h1{
    display: flex;

    margin: 0 0 0 0;
    color: white
}

.navbar .toggle {
    padding: 1em;
    color: black;
}
@media (min-width: 48em) {
    .navbar {
        display: flex;
    }
    .navbar .left,
    .navbar .right {
        display: flex;
        flex: 1;
    }
    .navbar .link {
        width: auto;
    }
    .navbar .right {
        justify-content: flex-end;
    }
    .navbar .toggle {
        display: none;
    }
}
@media (min-width: 48em) {
    .navbar div {
        display: flex;
    }
}
@media (max-width: 48em) {
    .navbar.active .toggle {
        background: darkslategrey;
        color: white;
    }
    .navbar .brand {
        text-align: left;
    }
    .navbar.active div {
        display: block;
    }
}