body {
    margin: 0px;
}
.navbar {
    border-bottom: 10px solid darkslategrey ;
}
.navbar div {
    display: none;
}
.navbar .toggle,
.navbar .brand {
    display: inline-block;
}
.navbar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: underline;
    background: #224c23;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar .link:hover,
.navbar .link:active {
    color: #2f4f4f;
    background: white;
}
.navbar .brand {
    width: 15em;
    text-align: center;
    padding: 1em;
    border-right: 10px solid darkslategrey;
    margin-right: 20px;
}
.navbar a {
    text-decoration: none;
}

.navbar a h1{
    display: inline-grid;
    font-size: 40px;
    margin: 0 0 0 0;
    color: darkslategrey;
    border-bottom: 5px dashed grey;
}

.navbar .toggle {
    padding: 1em;
    color: black;
    font-size: 20px;
}
@media (min-width: 48em) {
    .navbar {
        display: flex;
    }
    .navbar .left,
    .navbar .right {
        display: flex;
        flex: 1;
    }
    .navbar .link {
        width: auto;
    }
    .navbar .right {
        justify-content: flex-end;
    }
    .navbar .toggle {
        display: none;
    }
}
@media (min-width: 48em) {
    .navbar div {
        display: flex;
    }
}
@media (max-width: 48em) {
    .navbar.active .toggle {
        background: darkslategrey;
        color: white;
    }
    .navbar .brand {
        text-align: left;
    }
    .navbar.active div {
        display: block;
    }
}